.nav{
   display:flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 28px;
    padding-right: 123px;
    padding-bottom: 28px;
    padding-left: 109px;
    align-items: center;
    height: 100px;
}

.nav__logo{

}

.nav__list{
 display:flex;
 gap: 40px;
 color: var(--color-text);
}

.nav__account{
 display:flex;
    gap: 15.14px;
}