:root {
  color-scheme: light;

  /* Background group */
  --background-default: var(--color-white);
  --background-secondary: var(--color-beig);
  --background-accent: var(--color-pink);
  --background-brand: var(--color-orange);

  /* Text group */
  --text-primary: var(--color-black);
  --text-secondary: var(--color-text);
  --text-tertiary: var(--color-gray);
  --text-accent: var(--color-orange);
  --text-on-accent: var(--color-white);
}
